spaces
json5
numpy==1.26.0
setuptools
ruamel.yaml
tqdm 
tensorboard
tensorboardX
transformers===4.48.0
encodec
black==24.3.0
g2p_en
accelerate==0.24.1
safetensors==0.4.3
funasr
zhconv
zhon
modelscope
timm
jieba
cn2an
unidecode
pypinyin
jiwer
omegaconf
pyworld
py3langid==0.2.2
LangSegment
onnxruntime-gpu
pyopenjtalk
pykakasi
openai-whisper
git+https://github.com/justinjohn0306/phonemizer
